<header class="header">
    <link rel="stylesheet" href="../css/header.css">
    <h3 class="header-title">Nile</h3>
    <ul class="header-list">
    <li class="header-point"><a href="/signin" class="header-list-link">Sign In</a></li>
    <li class="header-point"><a href="/signup" class="header-list-link">Sign Up</a></li>
    </ul>
</header>