<header class="header">
    <link rel="stylesheet" href="../css/header.css">
    <h3 class="header-title">Nile</h3>
    <div class="search-box">
        <input class="header-search-box-input" type="text" placeholder="Search Nile">
        <button class="header-search-box-search-button">Search</button>
    </div>
    <ul class="header-list">
        <li class="header-point"><a href="/signin" class="header-list-link">Sign In</a></li>
        <li class="header-point"><a href="/signup" class="header-list-link">Sign Up</a></li>
    </ul>
</header>
