.container-wrapper {
    padding: 2rem 5rem;
}

.selling-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 2rem;
}

.selling-info-wrapper {
    display: flex;
}

.selling-info-wrapper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.selling-info-wrapper-wrapper h3 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.selling-info-link {
    text-decoration: none;
    color: rgb(60, 108, 249);
}

.selling-info-link:hover {
    text-decoration: underline;
}

.selling-info-day-total {
    color: white;
}

.list-item-link {
    margin: 0;
    padding: 1rem;
    background-color: rgb(60, 108, 249);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.main-display-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}