.container-wrapper {
    padding: 2rem 5rem;
}

.useritem-div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .container-wrapper {
        padding: 20px;
    }
}