<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/display.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="/css/profile/itemsdisplay.css">
    <link rel="stylesheet" href="/css/personalizeditem.css">
    <link rel="stylesheet" href="/css/popularitem.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/minidisplay.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3><a class="header-title" href="">Nile</a></h3>
        <div class="search-box">
            <input class="header-search-box-input" type="text" placeholder="Search Nile">
            <a href="" class="header-search-box-search-button">Search</a>
        </div>
        <ul class="header-options">
            <a class="profile-link" href=""></a>
            <li class="header-option"><a href="/signin" class="header-option-sign-in">Sign In</a></li>
            <li class="header-option"><a href="/signup" class="header-option-sign-up">Sign Up</a></li>
            <button class="signout-button">Sign Out</button>
        </ul>
      </header>

      <section class="display">
        <div class="display-option display-option-one left">
          <h3 class="display-title">Get Your Marry Deals</h3>
          <p class="display-paragraph">The holiday season is coming around the corner! Don't miss out on these opportunities!</p>
          <button class="display-link">Get Deals</button>
          <div class="display-control">
            <button type="button" class="display-left"><</button>
            <button type="button" class="display-right">></button>
          </div>
        </div>
        <div class="display-option display-option-two">
          <h3 class="display-title">Offical Nile Store</h3>
          <p class="display-paragraph">We have tons of cool items here at Nile!</p>
          <button class="display-link">Be Cool</button>
          <div class="display-control">
            <button type="button" class="display-left"><</button>
            <button type="button" class="display-right">></button>
          </div>
        </div>
        <div class="display-option display-option-three right">
          <h3 class="display-title display-title-popular-items">Popular Items</h3>
          <p class="display-paragraph display-paragraph-popular-items">Don't know what to buy? These items have been quite popular recently!</p>
          <button class="display-link">Shop Now</button>
          <div class="display-control">
            <button type="button" class="display-left"><</button>
            <button type="button" class="display-right">></button>
          </div>
        </div>
      </section>

      <section class="personalized-items-display">
        <h3 class="personalized-items-display-title invisible">Based On Your Recent Searches</h3> 
        <div class="personalized-items-display-grid"></div>
      </section>

      <section class="popular-items-display">
        <h3 class="popular-items-display-title invisible">Popular Items</h3> 
        <div class="popular-items-display-grid"></div>
      </section>

      <section class="mini-display">
        <h3 class="display-title mini-display-title">Shop Luxury</h3>
        <p class="display-paragraph mini-display-paragraph">We have designer jewelry here!</p>
        <button class="display-link">Get Luxorious</button>
      </section>

      <footer>
        <h3><a class="header-title" href="">Nile</a></h3>
        <p>@ *Fake* Copyright 2023 Nile</p>
      </footer>

    </div>
    <script src="/js/home/home.js"></script>
    <script src="/js/home/hometitle.js"></script>
    <script src="/js/home/header.js"></script>
    <script src="/js/home/display.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/home/personalizeditems.js"></script>
    <script src="/js/home/popularitems.js"></script>
  </body>
</html>