<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/forms/itemform.css">
    <link rel="stylesheet" href="/css/profile/profileselling.css">
    <link rel="stylesheet" href="/css/profile/profileoptions.css">
    <link rel="stylesheet" href="/css/profile/profilemain.css">
    <link rel="stylesheet" href="/css/useritem.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3><a class="header-title" href="">Nile</a></h3>
        <ul class="header-options">
            <a class="home-link" href="">Go Home</a>
            <button class="signout-button">Sign Out</button>
        </ul>
      </header>
      <div class="container-wrapper"> 
        <div class="profile-options">
          <div class="profile-options-wrapper">
            <a class="profile-option profile-option-activity" href="">Activity</a>
            <a class="profile-option profile-option-messages" href="">Messages</a>
            <a class="profile-option profile-option-account" href="">Account</a>
          </div>
          <a href="" class="profile-option public-profile-link">TempProfile</a>
        </div>
        <hr></hr>

        <div class="main">
          <div class="main-options">
            <a href="" class="main-option main-option-summary">Summary</a>
            <a href="" class="main-option main-option-selling">Selling</a>
            <a href="" class="main-option main-option-cart">Cart</a>
          </div>
          <div class="main-display">

            <div class="selling-info">
              <div class="selling-info-wrapper">
                <div class="selling-info-wrapper-wrapper">
                  <h3 class="selling-info-active-num"></h3>
                  <a href="" class="selling-info-link selling-info-link-active">Active</a>
                </div>
                <div class="selling-info-wrapper-wrapper">
                  <h3 class="selling-info-sold-num"></h3>
                  <a href="" class="selling-info-link selling-info-link-sold">Sold</a>
                </div>
              </div>
              <div class="selling-info-wrapper">
                <div class="selling-info-wrapper-wrapper">
                  <h3 class="selling-info-90daytotal">$0.00</h3>
                  <h4 class="selling-info-day-total">Total Money Made</h4>
                </div>
              </div>
              <div class="selling-info-wrapper">
                <a href="" class="list-item-link">List an item</a>
              </div>
            </div>

            <div class="items-display">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/js/homelink.js"></script>
    <script src="/js/home/hometitle.js"></script>
    <script src="/js/signout.js"></script>
    <script src="/js/profile/profileselling.js"></script>
    <script src="/js/profile/summarybutton.js"></script>
    <script src="/js/profile/sellingbutton.js"></script>
    <script src="/js/profile/publicprofilelink.js"></script>
    <script src="/js/profile/cartlink.js"></script>
  </body>
</html>