<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/css/shippinglabel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script type="text/javascript">
        console.log(1)
</script> 
  </head>
  <body>
    <div class="shipping-label-company">
            
    </div>
    <div class="shipping-label-users-info">
        <div class="shipping-label-item-user-info">
            <p class="shipping-label-item-user-info-name"></p>
            <p class="shipping-label-item-user-info-postage">asdf</p>
            <p class="shipping-label-item-user-info-address">asdf</p>
        </div>
        <div class="shipping-label-item-buyer-info">
        
        </div>
    </div>
    <div class="shipping-label-barcode">
    
    </div>
    <script>
        console.log(1);
    </script>
    <script src="/js/shippinglabel.js"></script>
  </body>
</html>