<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/forms/userform.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <header class="header">
          <h3><a class="header-title" href="">Nile</a></h3>
          <ul class="header-options">
              <li class="header-option"><a href="/signin" class="header-option-sign-in">Sign In</a></li>
              <li class="header-option"><a href="/signup" class="header-option-sign-up">Sign Up</a></li>
          </ul>
        </header>
        <form class="user-form">
          <div class="user-form-wrapper">
            <label for="">Username: </label>
            <input class="username-input" name="name" type="text" placeholder="username" autocomplete="off">
          </div>
          <div class="user-form-wrapper">
            <label for="">Email: </label>
            <input class="email-input" name="email" type="text" placeholder="email" autocomplete="off">
          </div>
          <div class="user-form-wrapper">
            <label for="">Password: </label>
            <input class="password-input" name="password" type="text" placeholder="password" autocomplete="off">
          </div>
          <button class="user-form-button">Sign Up</button>
        </form>
    </div>
    <script src="/js/home/hometitle.js"></script>
    <script src="/js/signup.js"></script>
  </body>
</html>