<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dromeda Tabs</title>
    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/useritem.css">
    <link rel="stylesheet" href="/css/tabsearch.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3><a class="header-title" href="">Dromeda</a></h3>
        <div class="search-box">
            <input class="header-search-box-input" type="text" placeholder="Search Nile">
            <a href="" class="header-search-box-search-button"><i class="fa-solid fa-magnifying-glass header-search-box-search-button"></i></a>
        </div>
        <div class="hamburger">
          <div class="hamburger-bun"></div>
          <div class="hamburger-bun"></div>
          <div class="hamburger-bun"></div>
        </div>
        <ul class="header-options">
            <a class="profile-link" href=""></a>
            <li class="header-option"><a href="/signin" class="header-option-sign-in">SIGN IN</a></li>
            <li class="header-option"><a href="/signup" class="header-option-sign-up">SIGN UP</a></li>
            <button class="signout-link" href="">SIGN OUT</button>
        </ul>
        <ul class="header-options-mobile invisible hide">
            <button class="header-options-mobile-exit">X</button>
            <a class="profile-link" href=""></a>
            <li class="header-option"><a href="/signin" class="header-option-sign-in">SIGN IN</a></li>
            <li class="header-option"><a href="/signup" class="header-option-sign-up">SIGN UP</a></li>
            <button class="signout-link" href="">SIGN OUT</button>
        </ul>
      </header>

      <section class="tabs-search-display"></section>

    </div>
    <script src="/js/home/header.js"></script>
    <script src="/js/home/header.js"></script>
    <script src="/js/home/hometitle.js"></script>
    <script src="/js/tabsearch.js"></script>
    <script src="https://kit.fontawesome.com/d5f4e05c7d.js" crossorigin="anonymous"></script>
    <script src="/js/search.js"></script>
    <script src="https://kit.fontawesome.com/d5f4e05c7d.js" crossorigin="anonymous"></script>
  </body>
</html>