.display {
    margin-bottom: 620px;
}

.display-option {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transition: transform 1s ease-in-out;
    background: url("../images/guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.display-title {
    font-size: 3rem;
    margin: 0.5rem 0;
    padding: 0 200px;
}

.display-title span {
    color: #520e7d;
}

.display-paragraph {
    margin: 0.5rem 0;
    width: 500px;
    padding: 0 200px;
}

.display-link {
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: #520e7d;
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0.5px 200px;
}

.display-title-popular-items {
    color: black;
}

.display-paragraph-popular-items {
    color: black;
}

.header-search-box-search-button {
    text-decoration: none;
}

/* Media queries */

@media (max-width: 480px) {
    .display-option {
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        
        transition: transform 1s ease-in-out;
        background: url("../images/guitar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -100px;
    }

    .display-title {
        width: 300px;
        padding: 0 20px;
    }

    .display-paragraph {
        width: 300px;
        padding: 0 20px;
    }

    .display-link {
        margin: 0.5px 20px;
    }
}