.popular-items-display {
}

.popular-items-display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.popularitems-div {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.popularitem-image {
    max-width:100%;
    max-height:100%;
}

.popularitem-wrapper {
    margin-left: 20px;
}

.popularitem-div h3 {
    font-size: 1.1;
}

.popularitem-div p {
    font-size: .8;
}

.items-display-home {
    margin-top: 30rem;
}