.useritem-div {
    height: 200px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.item-image {
    max-width:100%;
    max-height:100%;
}

.useritem-wrapper {
    margin-left: 20px;
}

.useritem-div h3 {
    font-size: 1.1;
}

.useritem-div p {
    font-size: .8;
}

.useritem-delete-button {
    margin: 0;
    padding: 1rem;
    background-color: rgb(60, 108, 249);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
}

.items-display-home {
    margin-top: 30rem;
}